<h2>Why were they displaced?</h2>

<p>Flight and expulsions of large groups of people seem to accompany the whole history of mankind. Since the beginning of the 20th century, the expulsion of larger population groups in Europe and its adjacent areas has been most often associated with their ethnicity. Both waves of forced displacement from the borderlands of the Czech lands, in 1938 and in 1945–47, have such a character.</p>

<p>After the secession of this territory from Czechoslovakia and its affiliation with Nazi Germany, most (about half a million) Czechs living here opted for Reich nationality, which allowed them (albeit without full civil rights, enjoyed on the grounds of racial principles only by Reich citizens of German nationality) to stay in the borderlands. About 250,000 Czechs decided to leave for the Czech inland, often departing hastily and under difficult circumstances, even though formally they could take with them all their movable property. As many as thousands of people did not have this choice because their German neighbors and various pro-Nazi, often armed groups were expelling them using violence.</p>

<p>In 1945, the situation for a little less than 3 million people of German nationality was different. As a result of the decrees of the President of the Republic, issued at the end of the war and in the first post-war months, Germans, except for the so-called anti-fascists, should not have had their Czechoslovak citizenship returned. Thus they lost all their rights, and if they were not forcibly expelled or killed (the estimated number is at least 20,000 dead) during the so-called wild displacement in the spring and summer of 1945, they were deported to Germany under international arrangements. Only less than 200,000 Germans could stay. At the same time, the recognized anti-fascists made up only a tiny percentage of them, most of them were those who had to stay because they were from the state's point of view indispensable workers in important economic sectors, or the people that the state simply did not manage to displace.</p>

<p><small>author: Matěj Spurný, historian</small></p>
